* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    /* height: 100vh; */
    width: 100vw;
    z-index: 1;
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
}

.titulo-container {
    width: 100vw;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'IBM Plex Mono', mono;
    font-size: 50px;
    font-weight: 700;
}

.calendar-container {
    width: 100vw;
    min-height: 700px;
    /* max-height: 400px; */
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.calendar {
    width: 90%;
    display: grid;
    grid-template-rows: 40px 40px 40px repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    border: 3px solid rgba(3, 3, 3, .1);
    box-shadow: 0 4px 4px rgba(3, 3, 3, .4);
    z-index: 10;
}

.anio-container {
    grid-row: 1/2;
    grid-column: 1/8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(200, 200, 200, .6);
}

.anio-actual {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}

.flecha-anio {
    align-items: center;
    /* background-color: gray; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.mes-container {
    grid-row: 2/3;
    grid-column: 1/8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(200, 200, 200, .6);
}

.flecha-mes {
    /* background-color: rgba(200, 200, 200, .5); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flecha-mes:hover {
    cursor: pointer;
}

.mes-actual {
    min-width: 100px;
    text-align: center;
}

.dias {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fecha-container {
    border: 1px solid rgba(200, 200, 200, .6);
}

.dia-hoy {
    border: 2px solid rgba(100, 150, 150, .9);
}

.dia-hoy div div {
    background-color:  rgba(100, 150, 150, .9);
    user-select: none;
}

.numero-container {
    /* background-color: lightblue; */
    text-align: cener;
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.numero-dia {
    width: 20px;
    text-align: center;
    /* background-color: lightblue; */
    border: 1px solid rgba(200, 200, 200, .8);
    border-radius: 50px;
}

/* FOOTER */

.foot {
    height: 40px;
    width: 100%;
    background-color: lightblue;
}

/* TAREAS */

.tareas-container {
    display: none;
    flex-direction: column;
    /* display: inline; */
    position: absolute;
    min-width: 300px;
    min-height: 500px;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); 
    background-color: rgba(245, 245, 245, 1);
    padding: 10px 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100!important;
}

/* .tareas {
    width: 100%;
    height: 100%;
    display: flex;
} */

/* .tareas{
    display: flex;
    width: 100%;
    margin-bottom: 8px;
} */

.tareas {
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    
    font-size: 25px;
    font-weight: bold;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}



.tareas-head {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.tareas img {
    width: 30px;
    position: absolute;
    text-align: right;
    right: 1px;
    top: 1px;
    cursor: pointer;
}
.tareas-titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#tareas-fecha {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
}

.tareas-body {
    border-top: 3px solid rgba(200, 200, 200, .3);
    min-height: 300px;
    /* box-shadow:  0 0 rgba(0, 0, 0, 0.3); */
}


